body, table td, select { 
  font-size:80%;
}
pre { 
  font-size:80%;
}
.gwt-Button { 
  font-size:80%;
}
.gwt-StackPanel .gwt-StackPanelItem { 
  font-size: 1.3em;
}
.gwt-DecoratedStackPanel .gwt-StackPanelItem { 
  font-size: 1.3em;
}
.datePickerDay, 
.datePickerWeekdayLabel, 
.datePickerWeekendLabel { 
  font-size: 75%;
}
td.datePickerMonth { 
  font-size: 70%;
}
.datePickerPreviousButton, 
.datePickerNextButton { 
  font-size: 120%;
}
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader { 
  font-size: 1.3em;
}
